/*
WARNING :
  ORIGINAL FILE TO EDIT : ./src/assets/custom.css

  WHEN CHANGING THIS FILE PLEASE RE-RUN
  npm run dev
*/

/* CUSTOM STYLES - OVERIDES DSFR */
.fr-justify-center {
  justify-content: center;
}
.fr-card:hover {
  cursor: pointer !important;
}
.fr-modal-custom::before {
  content: none !important;
}
.fr-modal__body-custom {
  max-height: 100vh !important;
  height: 100vh !important;
}
.fr-btn-fullwidth {
  width: 100% !important;
}
.fr-btn-grey {
  box-shadow: inset 0 0 0 1px #929292;
  color: #161616;
}
.fr-div-fixed-height {
  height: 100%;
}
.fr-btn-fixed-height {
  min-height: 64px;
  height: 100%;
}
.fr-btn-fixed-height > svg {
  width: 10%;
  min-width: 10%;
}
.fr-btn-align-center {
  justify-content: center;
}
.fr-btn-align-left {
  /* text-align: left; */
}
.fr-btn-sm-align-left > span {
  text-align: left;
  width: 85%;
}
.fr-btn-sm-align-center > svg {
  min-width: 19px !important;
}
.fr-tag-clickable:hover {
  cursor: pointer !important;
}
.fr-tag-selected {
  color: white !important;
  background-color: var(--text-action-high-blue-france) !important;
}
.fr-card-result  {
  height: 100% !important;
}
.fr-form-block {
  background-color: #E8EDFF;
  padding: 6em 2em 4em 2em;
  display: flex;
  justify-content: center;
}
.fr-form-block .fr-input {
  background-color: white;
}
.tee-router-link {
  background-image: none !important;
}
button.fr-link:hover, .tee-router-link:hover {
  background-color: transparent !important;
}

/* GLOBAL */
.tee-no-hover {
  pointer-events: none;
}
.tee-footer-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.tee-home-step-operators-container {
  align-items: center
}
.tee-home-step-operator-img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
.tee-footer-app-logo {
  height: 60px !important;
}
.tee-home-step-operator-logo {
  box-shadow: none !important;
}
.tee-footer-operator-main {
  height: 5.625rem;
  width: 10rem;
}
.tee-footer-operator-img {
  height: auto;
  max-height: 5.625rem;
  max-width: 10rem !important;
}
.tee-footer-logo {
  box-shadow: none !important;
}

.tee-home-img {
  width: 100%;
}
.tee-home-img .fr-content-media__img {
  width: 100%;
}
.tee-home-img > .fr-content-media__img > .fr-responsive-img {
  aspect-ratio: 1 !important;
  /* height: 100% !important; */
}
.tee-text-light {
  color: #929292;
}
.tee-text-blue {
  color: #000091;
}
.tee-text-no-result {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: #000091;
}
.tee-mb-none {
  margin-bottom: 0 !important
}

/* LANDING */
.tee-home-cta-text h2 {
  color: rgb(102, 114, 248);
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.tee-home-cta-text h1 {
  font-size: 2.8rem;
}
.tee-home-cta-text p {
  font-size: 1.3rem;
  line-height: 2rem;
}
.tee-home-cta-btn button {
  font-weight: 1000;
  min-height: 3.5rem;
  font-size: 1.5rem;
}
.tee-home-info-block-figure.inverted-order {
  order: -1;
}

/* TRACK CALLOUT */
.tee-track-callout {
  align-items: center;
  min-height: 125px;
}
.tee-track-callout-img {
  text-align: center;
}
.tee-track-callout-img  > .fr-responsive-img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}

@media (min-width: 48em) {
.tee-track-callout-texts {
  max-width: 90%;
  }
}

.tee-track-callout-header {
  font-size: 1em;
  font-weight: normal;
  line-height: 2rem;
  margin-bottom: auto;
}

.tee-track-callout-big-title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
}

/* TRACK INPUT */
.tee-resp-info-block {
  text-indent: -3.5rem;
  padding-left: 3.5rem;
}

/* CUSTOM BUTTON INPUT */
.tee-btn-next {
  justify-content: end;
}
.tee-form-input-large {
  display: flex;
}
.tee-input-large {
  font-size: 1.1rem;
  height: 4rem !important;
  max-height: 4rem !important;
  border-radius: .25rem 0 0 0;
}
.tee-input-large::placeholder {
  font-size: 1rem;
}
.tee-btn-input-large {
  max-height: 4rem !important;
  max-width: 4rem !important;
}
.tee-btn-input-large::before {
  width: 3rem !important;
}

.tee-form-input-large:focus-within {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: #0a76f6;
  outline-style: solid;
}
.tee-input-large:focus {
  outline-offset: unset;
  outline-width: unset;
  outline-color: unset;
  outline-style: none;
}

.tee-input-hint {
  color: #000091;
}
.tee-input-wildcard {
  color: #161616;
}
.tee-btn-input {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
}
.tee-btn-input:hover {
  cursor: pointer;
}
.tee-btn-input input {
  width: auto;
  display: inline;
  box-shadow: none;
  border: 1px solid #BBBBBB;
  background-color: #F5F5F5;
  border-radius: 0;
}
.tee-btn-sidebar {
  text-align: start;
  padding: .1rem 1.5rem;
  min-height: 1.8rem;
}
.tee-track-choice {
  padding-top: 10px !important;
}

/* RESULTS LIST */
.tee-program-title {
  color: #6A6AF4;
  font-size: 1.2rem;
  font-weight: bold;
}
.tee-program-resume {
  color: #000091;
  font-size: 1.7rem;
  line-height: 2rem;
}
.tee-program-info {
  color: #000091;
  font-size: .8rem;
  line-height: 1.3rem;
}
.tee-program-info span::before {
  font-size: .8rem;
  --icon-size: 1rem;
}
.tee-program-badge-image {
  text-transform: inherit;
  color: white;
  background-color: #000091;
  border-radius: 1rem;
  padding: 0 .7rem;
}
/* .tee-badge-image::before {
} */

/* RESULT DETAILS PAGE */
.fr-tee-program-detail-img {
  position: relative;
}
.fr-tee-program-detail-img > img.fr-responsive-img {
  min-height: 100%;
  object-fit: cover;
}
.fr-tee-program-detail-img-badge {
  position: absolute;
  top: 2em;
  padding-left: 1em;
}
.fr-tee-program-notice-alert {
  background-color: #FCA081;
  padding: 2em 0 2em 0 !important;
  margin: 0 -.5rem !important;
}

.tee-accordion::before {
  box-shadow: none;
  border-top: 1px solid #dddddd;
}
.tee-accordion-btn {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 4.25rem;
  color: #161616 ;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.tee-accordion-btn[aria-expanded=true] {
  background-color: transparent;
}

/* check: https://css-tricks.com/css-counters-custom-list-number-styling/ */
.fr-tee-description-list p {
  padding-left: 3rem;
  text-indent: -3rem;
}
.fr-tee-description-paragraph-marker {
  display: inline-block ;
  text-align: right;
  width: 2.5rem;
  margin-right: .5rem;
  color: #6A6AF4;
  font-size: 1.5rem;
  font-weight: bold;
}
.fr-tee-description-paragraph-content {
  display: inline;
}
.fr-tee-eligigility {
  color: #6266EF;
}
.fr-tee-eligigility-title {
  font-weight: bold;
}
.fr-tee-eligigility-list {
  padding-left: 2em;
}
.fr-tee-eligigility-list-check {
  list-style-type: none;
}
.fr-tee-eligigility-list li:before {
  padding-left: 2em;
}
.fr-tee-eligigility-list-check li:before {
  content: '';
  margin:0 5px 0 -2.2em;
  height: 1.5em;
  width: 1em;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z' fill='rgba(98,102,239,1)'%3E%3C/path%3E%3C/svg%3E");
}
.fr-tee-eligigility-list li:before {
  margin:0 5px 0 -2.2em;
  height: 1.5em;
  width: 1em;
}

/* PROGRAM INFOS - TILES */
.fr-tee-detail-info-tile .fr-tile {
  /* display: flex; */
  align-items: center;
  border: 1px solid #E5E5E5 !important;
  border-bottom: none !important;
}
.fr-tee-detail-info-tile .fr-tile__body {
  justify-content: start;
}
.fr-tee-detail-info-tile .fr-tile__title {
  font-weight: normal;
  font-size: 1rem !important;
}
.fr-tee-detail-info-tile .fr-tile__title:before {
  background-size: 100% 0.25em;
}
.fr-tee-detail-info-tile .fr-tile__title::before {
  background-image: linear-gradient(0deg, #000091, #000091) !important;
}
.fr-tee-detail-info-tile .fr-tile__desc {
  font-weight: 700;
}
.fr-tee-detail-info-tile .fr-tile__pictogram {
  text-align: center;
}
.fr-tee-detail-info-tile .fr-responsive-img {
  width: 95px;
}
@media screen and (max-width:48em) {
  .fr-tee-detail-info-tile .fr-tile {
    background-color: #F5F5FE;
    border: none !important;
  }
  .fr-tee-detail-info-tile .fr-tile__title:before {
    background-size: 0.25em 100%;
  }
  .fr-tee-detail-info-tile .fr-tile__title::before {
    background-image: linear-gradient(0deg, #6A6AF4, #6A6AF4) !important;
  }
  .fr-tee-detail-info-tile .fr-responsive-img {
    width: max-content;
    height: 4rem;
  }
}
/* DEBUGGING STYLES */
code {
  color: red !important;
}
.error-code {
  font-size: 0.75em !important;
}
.vue-debug {
  font-size: 0.75em !important;
  border: red dashed 1px;
  padding: .5em;
  margin-bottom: .5em;
}
.vue-debug h6, .vue-debug h5{
  font-size: 1em !important;
  line-height: 1.2em !important;
  margin-bottom: .8em;
}
.vue-debug pre{
  line-height: 1.4em !important;
  overflow: auto;
}

/* IMAGES */
.tee-track-image-right {
  align-self: center;
  text-align: center;
}

/*! media md and smaller only */
@media screen and (max-width:48em) {
  .fr-sm-hide {
    display: none !important;
  }
  /* .fr-sm-add-padding {
    padding: 0 2em 0 2em;
  } */
  .fr-col-sm-hide {
    display: none !important;
  }
  .fr-btn-sm-fullwidth {
    width: 100% !important;
    justify-content: center;
  }
  .fr-btn-sm-align-center > span {
    width: 100%;
  }
  .fr-btn-sm-align-left > span {
    width: 100%;
  }

  /* LANDING */

  .tee-home-cta-text,
  .tee-home-cta-btn {
    z-index: 3;
  }
  .tee-home-cta-text h1 {
    font-size: 2rem;
  }
  .tee-home-cta-text p {
    font-size: 1.1rem;
  }

  .tee-home-cta-sm-image-container {
    right: -50px;
    z-index: 0;
    position: relative;
  }
  .tee-home-cta-sm-image {
    max-width: 110px;
    width: auto;
    position: absolute;
    bottom: -30px;
  }
  .tee-home-steps {
    flex-direction: column;
    margin: 0 2rem 0 2rem;
  }
  .tee-home-steps-image {
    display: flex;
    justify-content: start;
  }
  .tee-home-steps-image img {
    max-height: 40px;
    margin-bottom: 0;
  }
  .tee-home-steps-title {
    text-align: left;
    display: flex;
    align-items: center;
  }
  .tee-home-steps-title h4 {
    margin-bottom: 0;
  }
  .tee-home-info-block {
    background-color: white;
  }
  .tee-home-info-block-figure {
    /* max-width: 200px; */
    justify-items: center;
    text-align: center;
  }
  .tee-home-info-block-figure .figure-center {
    display: flex;
    justify-content: center;
  }
  .tee-home-info-block-figure figure {
    max-width: 200px;
  }
  .tee-home-info-block-figure button.fr-link {
    font-size: 1.5rem;
    font-weight: 400 !important;
  }
  .tee-home-info-block-figure button.fr-link::after {
    --icon-size: 1.2rem;
    margin-bottom: -0.1rem;
  }
}

/*! media sm */
@media screen and (min-width: 0em) and (max-width: 36em) {
  .fr-hidden-xs {
    display: none !important;
  }
  .fr-unhidden-xs {
    display: inherit !important;
  }

  .fr-sr-only-xs {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .fr-container-xs {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fr-container-xs--fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
    overflow: hidden;
  }

  .fr-grid-row-xs--gutters {
    margin: -0.5rem;
  }

  .fr-grid-row-xs--gutters > [class^=fr-col-],
  .fr-grid-row-xs--gutters > [class*=" fr-col-"],
  .fr-grid-row-xs--gutters > .fr-col {
    padding: 0.5rem;
  }

  .fr-grid-row-xs--no-gutters {
    margin: 0;
  }

  .fr-grid-row-xs--no-gutters > [class^=fr-col-],
  .fr-grid-row-xs--no-gutters > [class*=" fr-col-"],
  .fr-grid-row-xs--no-gutters > .fr-col {
    padding: 0;
  }

  .fr-col-xs {
    flex: 1;
  }

  .fr-col-xs-1 {
    flex: 0 0 calc(100% / 12);
    width: calc(100% / 12);
    max-width: calc(100% / 12);
  }

  .fr-col-offset-xs-1:not(.fr-col-offset-xs-1--right) {
    margin-left: calc(100% / 12);
  }

  .fr-col-offset-xs-1--right {
    margin-right: calc(100% / 12);
  }

  .fr-col-xs-2 {
    flex: 0 0 calc(200% / 12);
    width: calc(200% / 12);
    max-width: calc(200% / 12);
  }

  .fr-col-offset-xs-2:not(.fr-col-offset-xs-2--right) {
    margin-left: calc(200% / 12);
  }

  .fr-col-offset-xs-2--right {
    margin-right: calc(200% / 12);
  }

  .fr-col-xs-3 {
    flex: 0 0 calc(300% / 12);
    width: calc(300% / 12);
    max-width: calc(300% / 12);
  }

  .fr-col-offset-xs-3:not(.fr-col-offset-xs-3--right) {
    margin-left: calc(300% / 12);
  }

  .fr-col-offset-xs-3--right {
    margin-right: calc(300% / 12);
  }

  .fr-col-xs-4 {
    flex: 0 0 calc(400% / 12);
    width: calc(400% / 12);
    max-width: calc(400% / 12);
  }

  .fr-col-offset-xs-4:not(.fr-col-offset-xs-4--right) {
    margin-left: calc(400% / 12);
  }

  .fr-col-offset-xs-4--right {
    margin-right: calc(400% / 12);
  }

  .fr-col-xs-5 {
    flex: 0 0 calc(500% / 12);
    width: calc(500% / 12);
    max-width: calc(500% / 12);
  }

  .fr-col-offset-xs-5:not(.fr-col-offset-xs-5--right) {
    margin-left: calc(500% / 12);
  }

  .fr-col-offset-xs-5--right {
    margin-right: calc(500% / 12);
  }

  .fr-col-xs-6 {
    flex: 0 0 calc(600% / 12);
    width: calc(600% / 12);
    max-width: calc(600% / 12);
  }

  .fr-col-offset-xs-6:not(.fr-col-offset-xs-6--right) {
    margin-left: calc(600% / 12);
  }

  .fr-col-offset-xs-6--right {
    margin-right: calc(600% / 12);
  }

  .fr-col-xs-7 {
    flex: 0 0 calc(700% / 12);
    width: calc(700% / 12);
    max-width: calc(700% / 12);
  }

  .fr-col-offset-xs-7:not(.fr-col-offset-xs-7--right) {
    margin-left: calc(700% / 12);
  }

  .fr-col-offset-xs-7--right {
    margin-right: calc(700% / 12);
  }

  .fr-col-xs-8 {
    flex: 0 0 calc(800% / 12);
    width: calc(800% / 12);
    max-width: calc(800% / 12);
  }

  .fr-col-offset-xs-8:not(.fr-col-offset-xs-8--right) {
    margin-left: calc(800% / 12);
  }

  .fr-col-offset-xs-8--right {
    margin-right: calc(800% / 12);
  }

  .fr-col-xs-9 {
    flex: 0 0 calc(900% / 12);
    width: calc(900% / 12);
    max-width: calc(900% / 12);
  }

  .fr-col-offset-xs-9:not(.fr-col-offset-xs-9--right) {
    margin-left: calc(900% / 12);
  }

  .fr-col-offset-xs-9--right {
    margin-right: calc(900% / 12);
  }

  .fr-col-xs-10 {
    flex: 0 0 calc(1000% / 12);
    width: calc(1000% / 12);
    max-width: calc(1000% / 12);
  }

  .fr-col-offset-xs-10:not(.fr-col-offset-xs-10--right) {
    margin-left: calc(1000% / 12);
  }

  .fr-col-offset-xs-10--right {
    margin-right: calc(1000% / 12);
  }

  .fr-col-xs-11 {
    flex: 0 0 calc(1100% / 12);
    width: calc(1100% / 12);
    max-width: calc(1100% / 12);
  }

  .fr-col-offset-xs-11:not(.fr-col-offset-xs-11--right) {
    margin-left: calc(1100% / 12);
  }

  .fr-col-offset-xs-11--right {
    margin-right: calc(1100% / 12);
  }

  .fr-col-xs-12 {
    flex: 0 0 calc(1200% / 12);
    width: calc(1200% / 12);
    max-width: calc(1200% / 12);
  }

  .fr-col-offset-xs-12:not(.fr-col-offset-xs-12--right) {
    margin-left: calc(1200% / 12);
  }

  .fr-col-offset-xs-12--right {
    margin-right: calc(1200% / 12);
  }
}

/*! media md and smaller only */
@media screen and (max-width: 48em) {
  .tee-track-has-image-right {
    order: 2;
  }
  .tee-track-image-right {
    max-height: 300px;
    /* max-width: 400px; */
    overflow: hidden;
  }
  .tee-track-image-right > .fr-responsive-img {
    width: 100%;
    max-width: 320px;
    height: auto;
    max-width: 100%;
  }

  .fr-tee-form-arrow-back {
    position: absolute;
    left: 1em;
  }
}

/*! media more than md */
@media (min-width: 48em) {
  .tee-track-image-right > .fr-responsive-img {
    max-height: 500px;
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .fr-tee-form-arrow-back {
    position: absolute;
    left: 8em;
  }
}

/*! media lg */
@media (min-width: 48em) {
  .fr-md-hide {
    display: none !important;
  }
}

/*! media xl */
@media screen and (max-width:78em) {
  .fr-tee-add-padding {
    padding: 0 2em 0 2em;
  }
  .fr-form-px-large {
    padding-left: 20v !important;
    padding-right: 20v !important;
  }
}

@media screen and (min-width:48em) {
  .fr-col-sm-show {
    display: none !important;
  }
  .fr-modal__body-custom {
    margin-top: 2em !important;
  }
  .fr-form-px-large {
    padding-left: 20v !important;
    padding-right: 20v !important;
  }
}

/* FORMS */
.fr-input-group .required {
  color: red;
}

/* TRANSITIONS - DEPRECATED */
/* .slide-fade-enter-active {
  transition-delay: .4s;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}
.slide-fade-enter-from {
  transform: translateY(40px);
  opacity: 0;
}

.slide-fade-leave-active {
  transition: all .3s ease-in;
}
.slide-fade-leave-to {
  transform: translateY(-40px);
  opacity: 0;
} */

/* IFRAMES AND WIDGETS */
@media screen and (min-width: 48em) {
  .tee-typeform-widget > div {
    height: calc(100vh - 80px) !important;
  }
}
@media screen and (min-width: 0em) and (max-width: 48em) {
  .tee-typeform-widget > div {
    height: calc(100vh - 113px) !important;
  }
}
