@use 'sass:meta';
@use 'sass:map';
@use 'setting';
@use 'tool';

.fr-accordion {
  &__btn {
    color: var(--text-title-grey);

    &[aria-expanded='true'] {
      background-color: unset;

      :hover {
        background-color: inherit;
      }
    }
  }

  &-bg {
    @each $color, $properties in setting.$colors {
      &--#{$color} {
        .fr-collapse--expanded{
          @include tool.get-background-color-by-opacity($properties);
        }

        @each $name, $opacity in setting.$opacities {
          &#{$name} {
            .fr-collapse--expanded{
              @include tool.get-background-color-by-opacity($properties, $opacity);
            }
          }
        }
      }
    }
  }
}

