@use 'sass:color';
@use 'sass:meta';
@use 'sass:map';
@use 'setting';
@use 'tool';

@each $breakpoint, $value in setting.$breakpoints-values {
  $modifier: tool.modifierByBreakpoint($breakpoint);

  @include tool.media-query-respond-from($breakpoint) {
    @each $color, $properties in setting.$colors {
      .fr-bg {
        &#{$modifier} {
          @include tool.background-color($color, $properties);
        }

        @media (width >= 0) and (width <= 575px){
          &-xs{
            @include tool.background-color($color, $properties);
          }
        }
      }
    }
  }

  .fr-bg {
    &--none {
      background-image: none !important;

      &:hover {
        background-color: transparent !important;
      }
    }
  }
}
