@use 'sass:color';
@use 'sass:meta';
@use 'sass:map';
@use 'setting';
@use 'tool';

.fr-bg {
  @each $breakpoint, $value in setting.$breakpoints-values {
    @include tool.media-query-respond-from($breakpoint) {
      $modifier: tool.modifierByBreakpoint($breakpoint);
      &#{$modifier} {
        @each $color, $properties in setting.$colors {
          @include tool.background-color($color, $properties);
        }
      }
    }

    @include tool.respond-to($breakpoint) {
      $modifier: tool.modifierByBreakpoint($breakpoint, xl);
      &#{$modifier} {
        &--none {
          background-image: none !important;

          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }

  @include tool.respond-to(xs) {
    &-xs {
      @each $color, $properties in setting.$colors {
        @include tool.background-color($color, $properties);
      }
    }
  }
}
