@use 'setting';

.fr-badge {
  &.fr-badge--info {
    color: setting.$blue-900;
  }
}

.fr-filter-count-badge {
  background-color: setting.$blue-900;
  color: white;
  border-radius: 1rem;
  padding: 0 .35rem;
  line-height: 1.1rem;
  font-size: 0.66rem;
  font-weight: bold;
}
