.fr-banner {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }

  .fr-grid-row {
    height: 100%;
  }

  &__h100w100 {
    height: 100%;
    width: 100%;
    position: relative;
  }
}
