@use 'setting';
@use 'sass:meta';
@use 'sass:map';
@use 'tool';

.fr-btn {
  &-bg {
    &:hover,
    &:active {
      background-color: rgb(0 0 0 / 5%) !important;
      cursor: pointer;
    }

    @each $color, $properties in setting.$colors {
      &--#{$color} {
        @include tool.get-background-color-by-opacity($properties);

        @each $name, $opacity in setting.$opacities {
          &#{$name} {
            &:hover,
            &:active {
              @include tool.get-background-color-by-opacity($properties, $opacity);
            }
          }
        }

        &:hover {
          @include tool.get-background-color-by-opacity($properties, 15%);
        }

        &:active {
          @include tool.get-background-color-by-opacity($properties, 25%);
        }
      }
    }
  }

  &--secondary {
    @each $color, $properties in setting.$colors {
      &--#{$color} {
        @if meta.type-of($properties) == map {
          box-shadow: inset 0 0 0 1px map.get($properties, "color");
        } @else {
          box-shadow: inset 0 0 0 1px $properties;
        }
      }
    }
  }
}
