@use 'sass:meta';
@use 'sass:map';
@use 'tool';
@use 'setting';

.fr-card {
  overflow: hidden;

  :hover {
    cursor: pointer;
  }

  &__header {
    .fr-card__img--contain img {
      object-fit: contain;
    }
  }

  &-banner {
    flex-direction: row;

    @include tool.media-query-respond-from(xs) {
      height: 100px !important;
    }

    @include tool.media-query-respond-from(sm) {
      max-height: 200px;
      height: 100% !important;
    }

    &:hover {
      cursor: auto !important;
    }

    :hover {
      cursor: auto !important;
    }

    .fr-card__content {
      justify-content: center;
    }

    .fr-card__header {
      flex: 0 0 33.333333%;
      width: 33.333333%;
      height: 100%;

      .fr-card__img {
        height: 100%;
        align-content: center;

        img {
          object-fit: fill;

          &.fr-responsive-img {
            height: 100%;
          }
        }
      }
    }

    .fr-card__title {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.25rem;

      @include tool.media-query-respond-from(xs) {
        display: none;
      }

      @include tool.media-query-respond-from(sm) {
        display: inherit;
      }
    }

    .fr-card__desc {
      font-weight: 700;

      @include tool.media-query-respond-from(xs) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      @include tool.media-query-respond-from(sm) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }

  &-priority {
    border: solid 0.20rem setting.$green;

    &--highlighted {
      .fr-card__header::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-left: 5rem solid transparent;
        border-top: 5rem solid setting.$green;
        width: 0;
        z-index: 50;
      }
    }
  }

  &__title a::after {
    display: none !important;
  }

  &__header--priority {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: setting.$white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 100;
  }

  &.fr-enlarge-link {
    &:active {
      @include tool.media-query-respond-from(xs) {
        background-color: var(--background-default-grey-active);
        border: thin solid setting.$purple;
        border-radius: 8px;
      }

      @include tool.media-query-respond-from(md) {
        border: unset;
        border-radius: 0;
      }
    }


    .fr-card__content {
      .fr-card__end p {
        font-size: .8rem;
      }
    }
  }

  &.project-card {
    .fr-card__content {
      padding-top: 1rem !important;
    }
  }

  .fr-badge--success {
    background-color: setting.$green;
    color: setting.$white
  }

  @each $color, $properties in setting.$colors {
    &--#{$color} {
      @if $color != "grey" {
        @if meta.type-of($properties) == map {
          background-color: map.get($properties, "color") !important;
          color: map.get($properties, "color-with-background") !important;
        }

        .fr-card__title {
          @if meta.type-of($properties) == map {
            color: map.get($properties, "color-with-background") !important;
          } @else {
            color: setting.$text-grey;
          }
        }
      }
    }
  }

  &.theme-card {
    height: 100%;

    &:active,
    &:hover {
      box-shadow: 1px 2px 8px 2px rgb(0 0 0 / 10%);
    }

    .fr-card__body {
      height: 75%;

      .fr-card__title {
        height: 80px;

        @include tool.media-query-respond-from(xs) {
          height: auto;
        }
      }
    }

    .fr-card__header {
      height: 35%;

      .fr-card__img {
        height: 100%;

        img {
          height: 100%
        }
      }
    }
  }
}
