@use 'sass:meta';
@use 'sass:map';
@use 'tool';
@use 'setting';

.fr-card {
  :hover {
    cursor: pointer;
  }

  &__header {
    .fr-card__img--contain img {
      object-fit: contain;
    }
  }

  &-banner {
    flex-direction: row;

    @include tool.media-query-respond-from(xs) {
      height: 100px !important;
    }

    @include tool.media-query-respond-from(sm) {
      max-height: 200px;
      height: 100% !important;
    }

    &:hover {
      cursor: auto !important;
    }

    :hover {
      cursor: auto !important;
    }

    .fr-card__content {
      justify-content: center;
    }

    .fr-card__header {
      flex: 0 0 33.333333%;
      width: 33.333333%;
      height: 100%;

      .fr-card__img {
        height: 100%;
        align-content: center;
        max-height: 200px;

        img {
          object-fit: fill;

          &.fr-responsive-img {
            height: 100%;
          }
        }
      }
    }

    .fr-card__title {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.25rem;

      @include tool.media-query-respond-from(xs) {
        display: none;
      }

      @include tool.media-query-respond-from(sm) {
        display: inherit;
      }
    }

    .fr-card__desc {
      font-weight: 700;

      @include tool.media-query-respond-from(xs) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      @include tool.media-query-respond-from(sm) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }

  &-priority {
    outline: solid 0.2rem setting.$green;

    &--highlighted {
      .fr-card__header::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-left: 5rem solid transparent;
        border-top: 5rem solid setting.$green;
        width: 0;
        z-index: 50;
        border-top-right-radius: 0.9rem;
      }
    }
  }

  &__title a::after {
    display: none !important;
  }

  &__header--priority {
    position: absolute;
    top: 0.9rem;
    right: 0.9rem;
    color: setting.$white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 100;
  }

  &.fr-enlarge-link {
    &:active {
      @include tool.media-query-respond-from(xs) {
        background-color: var(--background-default-grey-active);
        border: thin solid setting.$purple;
      }

      @include tool.media-query-respond-from(md) {
        border: unset;
        border-radius: 0;
      }
    }

    a::before {
      outline-color: setting.$purple;
      outline-offset: 0;
    }

    .fr-card__content {
      .fr-card__end p {
        font-size: 0.8rem;
      }
    }
  }

  &.fr-card--cta {
    @include tool.media-query-respond-from(md) {
      .fr-card__header {
        flex-basis: 30%;
      }
    }

    @include tool.media-query-respond-from(lg) {
      .fr-card__header {
        flex-basis: 35%;
      }
    }

    .fr-card__header {
      align-content: center;
    }

    @include tool.media-query-respond-from(md) {
      .fr-card__img {
        max-height: 250px;
      }
    }

    .fr-card__img {
      position: relative;

      img {
        max-height: 250px;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 0; // Lower layer
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom right, rgb(255 255 255 / 0%) 70%, rgb(255 255 255 / 100%) 95%) !important;
      }

      .fr-card__logo {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 50px;
        z-index: 1; // Higher than the gradient
      }
    }
  }

  &.fr-card--program {
    .fr-card__content {
      padding: 1rem 1.5rem 4rem !important;

      .fr-card__title {
        margin-bottom: 0.75rem;

        a {
          color: setting.$purple;

          @include tool.media-query-respond-from(xs) {
            line-height: 1.5rem;
            font-size: 1.125rem;
          }

          @include tool.media-query-respond-from(md) {
            line-height: 1.75rem;
            font-size: 1.25rem;
          }
        }
      }

      p.fr-card__desc {
        color: setting.$blue-france;
        font-weight: 700;

        @include tool.media-query-respond-from(xs) {
          line-height: 2rem;
          font-size: 1.5rem;
        }

        @include tool.media-query-respond-from(md) {
          line-height: 2.25rem;
          font-size: 1.75rem;
        }
      }
    }

    .fr-card__header {
      .fr-card__img {
        img {
          @include tool.media-query-respond-from(xs) {
            aspect-ratio: 2.5;
          }

          @include tool.media-query-respond-from(sm) {
            aspect-ratio: 1.777778;
          }
        }
      }
    }
  }

  &.project-card {
    &.fr-enlarge-link {
      &:active {
        @include tool.media-query-respond-from(xs) {
          border-radius: 1rem !important;
        }
      }

      a::before {
        border-radius: 1rem !important;
      }
    }

    .fr-card__content {
      padding-top: 1.5rem !important;
      padding-bottom: 2rem !important;
    }

    .fr-card__header {
      .fr-card__img {
        img {
          border-top-left-radius: 1rem !important;
          border-top-right-radius: 1rem !important;

          @include tool.media-query-respond-from(xs) {
            aspect-ratio: 2.5;
          }

          @include tool.media-query-respond-from(sm) {
            aspect-ratio: 1.777778;
          }
        }
      }
    }
  }

  .fr-badge--success {
    background-color: setting.$green;
    color: setting.$white;
  }

  @each $color, $properties in setting.$colors {
    &--#{$color} {
      @if $color != 'grey' {
        @if meta.type-of($properties) == map {
          background-color: map.get($properties, 'color') !important;
          color: map.get($properties, 'color-with-background') !important;
        }

        .fr-card__title {
          @if meta.type-of($properties) == map {
            color: map.get($properties, 'color-with-background') !important;
          } @else {
            color: setting.$text-grey;
          }
        }
      }
    }
  }

  &.theme-card {
    height: 100%;

    &:active,
    &:hover {
      box-shadow: 1px 2px 8px 2px rgb(0 0 0 / 10%);
    }

    .fr-card__body {
      height: 75%;

      .fr-card__title {
        height: 80px;

        @include tool.media-query-respond-from(xs) {
          height: auto;
        }
      }
    }

    .fr-card__header {
      height: 35%;

      .fr-card__img {
        height: 100%;

        img {
          height: 100%;
        }
      }
    }
  }
}
