@use '@gouvfr/dsfr/module/media-query';

.fr-footer {
  &__content {
    flex-basis: fit-content;
    margin-left: 0;

    &-list {
      justify-content: center;
    }
  }

  &__partners {
    &-logos {
      flex-direction: column;
      align-items: center;

      @include media-query.respond-from('xl') {
        flex-direction: row;
      }
    }

    &-sub {
      justify-content: center;
      align-items: center !important;
    }
  }

  &__body {
    flex-direction: column;

    @include media-query.respond-from('lg') {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
