@use 'tool';

.fr-footer {
  &__content {
    flex-basis: fit-content;
    margin-left: 0;

    &-list {
      justify-content: center;
    }
  }

  &__partners {
    &-main {
      img {
        height: 5.625rem;
        width: 10rem;
        box-shadow: none !important;
      }
    }

    &-sub {
      justify-content: center;

      ul {
        align-items: center !important;

        img {
          box-shadow: none !important;
          width: revert-layer !important;
          max-height: 5.625rem;
          max-width: 10rem !important;
        }
      }
    }

    &-logos {
      flex-direction: column;
      align-items: center;

      @include tool.media-query-respond-from('xl') {
        flex-direction: row;
      }
    }
  }

  &__body {
    flex-direction: column;

    @include tool.media-query-respond-from('lg') {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
