@use 'setting';
@use 'tool';

@each $breakpoint, $value in setting.$breakpoints-values {
  $modifier: tool.modifierByBreakpoint($breakpoint);

  @include tool.media-query-respond-from($breakpoint) {
    .fr-col {
      @each $align-name, $align in setting.$vertical-flex-aligns {
        &-content#{$modifier}--#{$align-name} {
          display: flex;
          align-items: $align;
        }
      }

      @each $align-name, $align in setting.$horizontal-flex-aligns {
        &-justify#{$modifier}--#{$align-name} {
          display: flex;
          justify-content: $align;
        }
      }

      &-hidden#{$modifier} {
        display: none !important;
      }

      &-unhidden#{$modifier} {
        display: unset !important;
      }
    }

    .fr-grid-row {
      @each $align-name, $align in setting.$horizontal-flex-aligns {
        &#{$modifier}--#{$align-name} {
          justify-content: $align;
        }
      }
    }

    .fr-container {
      &#{$modifier} {
        &--fluid {
          &--no-overflow {
            overflow: unset;
          }
        }
      }
    }

    .fr-display {
      &#{$modifier} {
        &--block {
          display: block
        } 
      } 
    } 
  }
}

.fr-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.fr-position--relative {
  position: relative;
}
