@use 'setting';

.fr-header {
  .fr-header__brand-top {
    overflow: unset;
  }

  .fr-header__tools {
    align-items: flex-end;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
  }

  .fr-header__service-title {
    line-height: 1.65rem;
  }

  .fr-nav {
    button.fr-nav__btn {
      color: setting.$blue-france;
      font-weight: 500;
      min-height: 2rem;
      padding: 0.5rem 1rem;
    }

    .fr-menu {
      position: absolute;
      right: -1rem;

      &__list {
        width: 13rem;
      }
    }
  }
}
