@use 'sass:meta';
@use 'sass:map';
@use "setting";
@use 'tool';

a, button {
  &.fr-tag {
    &[aria-pressed="true"] {
      &.fr-tag {
        @each $color, $properties in setting.$colors {
          &--#{$color} {
            @if meta.type-of($properties) == map {
              &.fr-tag--sm {
                background-image: radial-gradient(circle at 100% .1875rem, transparent .4475rem, map.get($properties, "color") .5rem) !important;
              }

              background-image: radial-gradient(circle at 100% .25rem, transparent .578125rem, map.get($properties, "color") .625rem) !important;
              color: map.get($properties, "color-with-background") !important;
            }
          }
        }
      }
    }

    &[aria-pressed="false"] {
      @include tool.get-background-color-by-opacity(setting.$green, tool.opacity(--lightness));

      &:hover,
      &:active {
        @include tool.get-background-color-by-opacity(setting.$green-agir, 85%);
      }
    }
  }
}
