@use 'sass:meta';
@use 'sass:map';
@use 'setting';
@use 'tool';

.fr-text {
  @each $color, $properties in setting.$colors {
    &--#{$color} {
      @if meta.type-of($properties) == map {
        color: map.get($properties, "color") !important;
      } @else {
        color: $properties !important;
      }

      @each $name, $opacity in setting.$opacities {
        &#{$name} {
          @include tool.get-color-by-opacity($properties, $opacity);
        }
      }
    }
  }

  @each $size in setting.$line-heights {
    &-line-height--#{$size} {
      @include tool.line-height($size)
    }
  }

  @each $decoration in setting.$text-decorations {
    &--decoration-#{$decoration} {
      text-decoration: $decoration;
    }
  }
}

.tee-font {
  @each $style in setting.$font-styles {
    &-style--#{$style} {
      font-style: $style;
    }
  }
}
