/* 
WARNING : 
  ORIGINAL FILE TO EDIT : ./src/assets/custom.css

  WHEN CHANGING THIS FILE PLEASE RE-RUN 
  npm run dev 
*/

/* CUSTOM STYLES - OVERIDES DSFR */
.fr-card:hover {
  cursor: pointer !important;
}
.fr-btn-fullwidth {
  width: 100% !important;
}
.fr-modal-custom::before {
  content: none !important;
}
.fr-modal__body-custom {
  max-height: 100vh !important;
  height: 100vh !important;
}
.fr-btn-sm-align-center > svg {
  min-width: 19px !important;
}
.fr-tag-clickable:hover {
  cursor: pointer !important;
}
.fr-tag-selected {
  color: white !important;
  background-color: var(--text-action-high-blue-france) !important;
}

/* DEBUGGING STYLES */
code {
  color: red !important;
}
.vue-debug {
  font-size: 0.75em !important;
  border: red dashed 1px;
  padding: .5em;
  margin-bottom: .5em;
}
.vue-debug h6, .vue-debug h5{
  font-size: 1em !important;
  line-height: 1.2em !important;
  margin-bottom: .8em;
}
.vue-debug pre{
  line-height: 1.4em !important;
  overflow: auto;
}

@media screen and (max-width:767px) {
  .fr-sm-hide {
    display: none !important;
  }
  .fr-col-sm-hide {
    display: none !important;
  }
  .fr-btn-sm-fullwidth {
    width: 100% !important;
    justify-content: center;
  }
  .fr-btn-sm-align-center > span {
    width: 100%;
  }
}

@media screen and (min-width:768px) {
  .fr-col-sm-show {
    display: none !important;
  }
}