$base-yellow: #FACF35;
$base-green: #1EBE8E;
$base-blue: #6672F8;
$base-red: #FCA081;
$secondary-purple: #6A62F4;

$colors: (
  "yellow": (
    "background-color": $base-yellow,
    "color": var(--text-action-high-blue-france)
  ),
  "green": (
    "background-color": $base-green,
    "color": var(--text-action-high-blue-france)
  ),
  "blue": (
    "background-color": $base-blue,
    "color": var(--text-inverted-blue-france)
  ),
  "red": (
    "background-color": $base-red,
    "color": var(--text-action-high-blue-france)
  ),
  "secondary-purple" : $secondary-purple
);
