@use '@gouvfr/dsfr/module/color/variable/static' as color;
@forward '@gouvfr/dsfr/module/color/variable/static';

// !!!important!! New color added need to be added to the typescript enum `packages/web/src/types/color.ts`
$base-blue: #6672f8;
$base-blue-light: #e8edff;
$base-green: #1ebe8e;
$base-purple: #6a62f4;
$base-red: #fca081;
$base-yellow: #facf35;
$base-yellow-light:#fef7da;

$colors: (
  "white": color.$white,
  "yellow": (
    "background-color": $base-yellow,
    "color": var(--text-action-high-blue-france)
  ),
  "yellow-light": (
    "background-color": $base-yellow-light,
    "color": var(--text-action-high-blue-france)
  ),
  "green": (
    "background-color": $base-green,
    "color": var(--text-action-high-blue-france)
  ),
  "blue": (
    "background-color": $base-blue,
    "color": var(--text-inverted-blue-france),
    "is-inverted": true,
  ),
  "blue-light": (
    "background-color": $base-blue-light,
    "color": var(--text-action-high-blue-france)
  ),
  "red": (
    "background-color": $base-red,
    "color": var(--text-action-high-blue-france)
  ),
  "purple" : $base-purple,
  "blue-france": color.$blue-france, // #000091
);
