$border-radius-root: 1rem !default;

$rounded: (
  '0': 0,
  '0-5v': $border-radius-root * .5,
  null: $border-radius-root,
  '1v': $border-radius-root,
  '2-5v': $border-radius-root * 2.5,
);

$corner: (
  'tl': 'top-left',
  'tr': 'top-right',
  'br': 'bottom-right',
  'bl': 'bottom-left',
);
