@use 'sass:color';
@use 'sass:meta';
@use 'sass:map';
@use '@gouvfr/dsfr/module/media-query';
@use '@gouvfr/dsfr/module/media-query/variable/breakpoints';
@use 'setting';
@use 'tool';

@each $breakpoint, $value in breakpoints.$values {
  $modifier: tool.modifierByBreakpoint($breakpoint);

  @include media-query.respond-from($breakpoint) {
    @each $color, $properties in setting.$colors {
      .fr-bg {
        &#{$modifier} {
          @include tool.background-color($color, $properties);
        }
        @media (width >= 0) and (width <= 575px){
          &-xs{
            @include tool.background-color($color, $properties);
          }
        }
      }


    }
  }
}
