@use "setting";
@use 'sass:map';

/* FORM */
.fr-tee-form {
  &-banner p {
    white-space: pre-wrap;
  }
  .fr-input {
    background-color: white;
  }

  &-container {
    @media screen and (width <=48em) {
      width: 100%;
    }

    width: 80%;
  }

  &-error {
    text-align: center;
  }
}

.tee-form-response {
  font-size: 1.3rem;
  line-height: 1.3rem;

  &-blue {
    color: setting.$blue-france;

    a {
      white-space: nowrap;
    }
  }

  &-error {
    color: setting.$red-marianne;
  }
}
