@use '@gouvfr/dsfr/module/media-query';
@use '@gouvfr/dsfr/module/media-query/variable/breakpoints';
@use 'setting';
@use 'tool';

@each $breakpoint, $value in breakpoints.$values {
  $modifier: tool.modifierByBreakpoint($breakpoint);

  @include media-query.respond-from($breakpoint) {
    @media (width >= 0) and (width <= 575px){
      .fr-hidden-xs {
        display: none !important;
      }
    }

    .fr-col {
      @each $align-name, $align in setting.$vertical-flex-aligns {
        &-content#{$modifier}--#{$align-name} {
          display: flex;
          align-items: $align;
        }
      }

      @each $align-name, $align in setting.$horizontal-flex-aligns {
        &-justify#{$modifier}--#{$align-name} {
          display: flex;
          justify-content: $align;
        }
      }

      &-hidden#{$modifier} {
        display: none !important;
      }

      &-unhidden#{$modifier} {
        display: unset !important;
      }
    }

    .fr-grid-row {
      @each $align-name, $align in setting.$horizontal-flex-aligns {
        &#{$modifier}--#{$align-name} {
          justify-content: $align;
        }
      }
    }

    .fr-container {
      &#{$modifier} {
        &--fluid {
          &--no-overflow {
            overflow: unset;
          }
        }
      }
    }
  }
}

.fr-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}
