@use 'setting';

.fr-header {
  button.fr-nav__btn {
    color: setting.$blue-france;
    font-weight: 500;
  }

  .fr-menu {
    position: absolute;
    right: -1rem;

    &__list {
      width: 13rem;
    }
  }
}
