@use 'setting';

.fr-header {
  .fr-header__tools-links {
    .fr-btns-group>li {
      align-items: center;
    }
  }

  .fr-btns-group {
    .fr-btn {
      margin: 0;
    }
  }

  .fr-nav {
    button.fr-nav__btn {
      color: setting.$blue-france;
      font-weight: 500;
    }

    .fr-menu {
      position: absolute;
      right: -1rem;

      &__list {
        width: 13rem;
      }
    }
  }
}
