@use "setting";

// override DsfrInput and DsfrInputGroup valid class
.fr-input-group--valid::before, .fr-valid-text::before {
  display: none;
}

.fr-input {
  outline-offset: unset;
  outline-width: unset;
  outline-color: unset;
  outline-style: none;

  &--white {
    background-color: setting.$white;
  }

  &:focus {
    outline-offset: unset;
    outline-width: unset;
    outline-color: unset;
    outline-style: none;
  }
}

.fr-input {
  outline-offset: unset;
  outline-width: unset;
  outline-color: unset;
  outline-style: none;

  &--white {
    background-color: setting.$white;
  }

  &:focus {
    outline-offset: unset;
    outline-width: unset;
    outline-color: unset;
    outline-style: none;
  }
}

.fr-input {
  &--white {
    background-color: setting.$white;
  } 
}

.fr-input--empty-text {
  height: 1.25rem;
} 

.fr-input::placeholder {
  font-style: normal !important;
  color: var(--text-default-grey);
}