@use 'setting';
@use 'tool';
@use '@gouvfr/dsfr/module/media-query';
@use '@gouvfr/dsfr/module/media-query/variable/breakpoints';


// class for border-radius with important like .fr-radius--tr--sm (small, top , right) or .fr-radius--bl--lg (large, bottom, left)
@each $corner, $corner-name in setting.$corner {
  @each $radius, $radius-value in setting.$rounded {
    @include media-query.respond-from(md) {
        .fr-radius-#{$corner} {
          @include tool.border-radius($radius-value, $corner-name, true);
          @if $radius != null {
            &--#{$radius} {
              @include tool.border-radius($radius-value, $corner-name, true);
            }
        }
      }
    }
    @include media-query.respond-from(xs) {
      .fr-radius-#{$corner} {
        @include tool.border-radius($radius-value, $corner-name, true);
        @if $radius != null {
          &--#{$radius} {
            @include tool.border-radius($radius-value, $corner-name, true);
          }
      }
    }
  }
  }
}
