@use "setting";
@use 'sass:meta';
@use 'sass:map';

input[type="search"] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.tee-btn-input-clear-btn {
  background-color: var(--background-contrast-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-action-high-blue-france);

  &::before {
    mask-image: url("@gouvfr/dsfr/dist/icons/system/close-line.svg") !important;
  }

  &:disabled {
    background-color: var(--background-contrast-grey);
    box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
    color: var(--text-disabled-grey);
  }
}

.fr-search-bar {
  &-lg {
    .fr-input, .search-button {
      max-height: 3rem;
      line-height: 3rem;
    }
  }
  @each $color, $properties in setting.$colors {
    &--#{$color} {
      .fr-input, .search-button {
        @if meta.type-of($properties) == map {
          box-shadow: inset 0 -2px 0 0 map.get($properties, "color");
        } @else {
          box-shadow: inset 0 -2px 0 0 $properties;
        }
      }
    }
  }
} 
