@use '@gouvfr/dsfr/module/color/variable/static' as color;
@forward '@gouvfr/dsfr/module/color/variable/static';

$styles: (
  solid,
  dashed,
  dotted
);

$positions: (
  "t": top,
  "r": right,
  "b": bottom,
  "l": left
);

$widths: (
  thin,
  medium,
  thick
);
