@use '@gouvfr/dsfr/module/color/variable/static' as color;
@forward '@gouvfr/dsfr/module/color/variable/static';

$opacities: (
  --light: -50%,
  --lightness: -75%
);

// !!!important!! New color added need to be added to the typescript enum `packages/web/src/types/color.ts`
$base-blue: #6672f8;
$base-blue-light: #e8edff;
$base-green: #1ebe8e;
$base-purple: #6a62f4;
$base-red: #fca081;
$base-yellow: #facf35;
$colors: (
  "white": color.$white,
  "yellow": (
    "background-color": $base-yellow,
    "color": $base-yellow,
    "color-with-background": var(--text-action-high-blue-france)
  ),
  "green": (
    "background-color": $base-green,
    "color": $base-green,
    "color-with-background": var(--text-action-high-blue-france)
  ),
  "blue": (
    "background-color": $base-blue,
    "color": $base-blue,
    "color-with-background": var(--text-inverted-blue-france),
    "is-inverted": true,
  ),
  "blue-light": (
    "background-color": $base-blue-light,
    "color": $base-blue-light,
    "color-with-background": var(--text-action-high-blue-france)
  ),
  "red": (
    "background-color": $base-red,
    "color": $base-red,
    "color-with-background": var(--text-action-high-blue-france)
  ),
  "purple" : $base-purple,
  "blue-france": (
    "background-color": color.$blue-france,
    "color-with-background": var(--text-inverted-blue-france),
    "color": color.$blue-france,
    "is-inverted": true
  )
);
