@use '@gouvfr/dsfr/module/color/variable/static' as color;
@forward '@gouvfr/dsfr/module/color/variable/static';

$opacities: (
  --light: 70%,
  --lightness: 90%
);

// !!!important!! New color added need to be added to the typescript enum `packages/web/src/types/color.ts`
$yellow: #facf35;
$red: #fca081;
$purple: #6a62f4;
$green: #1ebe8e;
$blue-france: #001891;
$grey: #777;

$colors: (
  "white": color.$white,
  "black": color.$black,
  "yellow": (
    "color": $yellow,
    "color-with-background": var(--text-action-high-blue-france)
  ),
  "red": (
    "color": $red,
    "color-with-background": var(--text-action-high-blue-france)
  ),
  "purple" : (
    "color": $purple,
    "color-with-background": var(--text-inverted-blue-france)
  ),
  "green": (
    "color": $green,
    "color-with-background": var(--text-action-high-blue-france)
  ),
  "blue-france": (
    "color": $blue-france,
    "color-with-background": var(--text-inverted-blue-france),
    "is-inverted": true
  ),
  "grey": (
    "color": $grey,
    "color-with-background": var(--text-action-high-blue-france)
  ),
);
