@use 'sass:color';
@use 'sass:map';
@use 'sass:meta';
@use '../setting';

@function scaleLightness($color, $lightness) {
  @return color.scale($color, $lightness: $lightness);
}

@function opacity($key) {
  @return map.get(setting.$opacities, $key);
}


@mixin get-background-color-by-opacity($properties, $opacity: 0%) {
  @if meta.type-of($properties) == map {
    background-color: scaleLightness(map.get($properties, "color"), $opacity) !important;
  } @else {
    /* Wrong parsing on function name from stylelint, so next line is disable */
    /* stylelint-disable-next-line function-name-case */
    background-color: scaleLightness($properties, $opacity) !important;
  }
}

@mixin background-color($color, $properties) {
  &--#{$color} {
    @include get-background-color-by-opacity($properties);

    @each $name, $opacity in setting.$opacities {
      &#{$name} {
        @include get-background-color-by-opacity($properties, $opacity);
      }
    }
  }
}
