@forward '@gouvfr/dsfr/src/module/media-query/variable/breakpoints' as breakpoints-*;
@forward "border";
@forward "color";
@forward "radius";
@forward "display";
@forward "grid";
@forward "typography";
