.fr-accordion {
  &__btn {
    color: var(--text-title-grey);
    &[aria-expanded='true'] {
      background-color: unset;

      :hover {
        background-color: inherit;
      }
    }
  }
  h3 {
    line-height: 3.75rem;
  }

  &-colored-background {
    .fr-collapse--expanded {
      background: $base-blue-light
    }
  }
}

