@use 'setting';
@use 'sass:color';

@each $color, $properties in setting.$colors {
  .fr-bg--#{$color} {
    @if type-of($properties) == map {
      background-color: map-get($properties, "background-color");
    } @else {
      background-color: $properties;
    }
    &--light {
      @if type-of($properties) == map {
        background-color: color.scale(map-get($properties, "background-color"), $alpha: -50%);
      } @else {
        background-color: color.scale($properties, $alpha: -50%);
      }
    }
    &--lightness {
      @if type-of($properties) == map {
        background-color: color.scale(map-get($properties, "background-color"), $alpha: -75%);
      } @else {
        background-color: color.scale($properties, $alpha: -75%);
      }
    }
  }
}
