@use 'setting';
@use 'sass:color';

@each $color, $properties in setting.$colors {
  @if type-of($properties) == map {
    .fr-bg--#{$color} {
      background-color: map-get($properties, "background-color");
    }
    .fr-bg--#{$color}--light {
      background-color: color.scale(map-get($properties, "background-color"), $alpha: -50%);
    }
  } @else {
    .fr-bg--#{$color} {
      background-color: $properties;
    }
    .fr-bg--#{$color}--light {
      background-color: color.scale($properties, $alpha: -50%);
    }
  }
}
