@import "color";

.fr-card {
  :hover {
    cursor: pointer;
  }

  @each $color, $properties in $colors {
    &--#{$color} {
      @if type-of($properties) == map {
        background-color: map-get($properties, "background-color");
        color: map-get($properties, "color");
      }
      .fr-card__content {
        justify-content: center;
      }
      .fr-card__title {
        @if type-of($properties) == map {
          color: map-get($properties, "color");
          font-weight: 400;
        }
        font-size: 0.75rem;
        line-height: 1.25rem;
      }
      .fr-card__desc {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
      }
    }
  }
}
