@use 'setting';
@use 'tool';

.fr-text {
  @each $align in setting.$aligns {
    &-#{$align} {
      text-align: $align;
      @each $breakpoint, $value in setting.$breakpoints-values {
        &-#{$breakpoint} {
          @include tool.media-query-respond-from($breakpoint) {
            text-align: $align;
          }
        }
      }
    }
  }
  @each $color, $properties in setting.$colors {
    &--#{$color} {
      @if type-of($properties) == map {
        color: map-get($properties, "color");
      } @else {
        color: $properties;
      }
    }
  }
}
