@use '@gouvfr/dsfr/module/media-query';
@use '@gouvfr/dsfr/module/media-query/variable/breakpoints';
@use 'setting';
@use 'tool';

.fr-col {
  @each $align-name, $align in setting.$vertical-flex-aligns {
    &-content--#{$align-name} {
      display: flex;
      align-items: $align;
    }
  }
  @each $align-name, $align in setting.$horizontal-flex-aligns {
    &-justify--#{$align-name} {
      display: flex;
      justify-content: $align;
    }
  }

  @each $breakpoint, $value in breakpoints.$values {
    $modifier: tool.modifierByBreakpoint($breakpoint);
    &-hidden#{$modifier} {
      @include media-query.respond-from($breakpoint) {
        display: none !important;
      }
    }
    &-unhidden#{$modifier} {
      @include media-query.respond-from($breakpoint) {
        display: unset !important;
      }
    }
  }
}

.fr-grid-row {
  @each $breakpoint, $value in breakpoints.$values {
    $modifier: tool.modifierByBreakpoint($breakpoint);
    @each $align-name, $align in setting.$horizontal-flex-aligns {
      &#{$modifier}--#{$align-name} {
        @include media-query.respond-from($breakpoint) {
          justify-content: $align;
        }
      }
    }
  }
}

.fr-container {
  @each $breakpoint, $value in breakpoints.$values {
    $modifier: tool.modifierByBreakpoint($breakpoint);
    &#{$modifier} {
      &--fluid {
        &--no-overflow {
          @include media-query.respond-from($breakpoint) {
            overflow: unset;
          }
        }
      }
    }
  }
}

.fr-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}
