@use '@gouvfr/dsfr/module/media-query';
@use '@gouvfr/dsfr/module/media-query/variable/breakpoints';

.fr-container {
  @each $breakpoint, $value in breakpoints.$values {
    $mod: '-#{$breakpoint}';

    @if $breakpoint == xs {
      $mod: '';
    }
    &#{$mod} {
      &--fluid {
        &--no-overflow {
          @include media-query.respond-from($breakpoint) {
            overflow: unset;
          }
        }
      }
    }
  }
}
