.fr-tabs {
  box-shadow: none;
  //display: flex;
  //justify-content: center;
  &::before {
    box-shadow: none;
  }
  //ul {
  //  max-width: 78rem;
  //  display: flex;
  //  justify-content: start;
  //  @media(max-width: 78rem) {
  //  max-width: 100%;
  //  }
  //}
  &__list {
    box-shadow: none;
    //display: flex;
    //justify-content: center;
  }
  &__tab {
    box-shadow: none;
  }
}
