@use 'setting';
@use 'tool';

.fr-text {
  @each $color, $properties in setting.$colors {
    &--#{$color} {
      @if type-of($properties) == map {
        color: map-get($properties, "color");
      } @else {
        color: $properties;
      }
    }
  }

  @each $size in setting.$line-heights {
    &-line-height--#{$size} {
      @include tool.line-height($size)
    }
  }
}

.fr-font {
  @each $style in setting.$font-styles {
    &-style--#{$style} {
      font-style: $style;
    }
  }
}
