/* @import './base.css'; */

/* @import './dsfr.css'; */
/* @import '@gouvfr/dsfr/dist/core/core.main.min.css'; */
/* @import './base.css'; */

.fr-card:hover {
  cursor: pointer;
}

.tee-btn-input-clear-btn:before {
  -webkit-mask-image: url(@gouvfr/dsfr/dist/icons/system/close-circle-line.svg) !important;
  mask-image: url(@gouvfr/dsfr/dist/icons/system/close-line.svg) !important;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.tee-btn-input-clear-btn:disabled {
  background-color: var(--background-contrast-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
  color: var(--text-disabled-grey);
}
