name: Update Data

on:
  workflow_dispatch:
  schedule:
    - cron: '12 3 * * *' # daily 3:12AM run

permissions:
  contents: write
  pull-requests: write

jobs:
  update-projects:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['20.x']

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm clean-install --foreground-scripts
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Generate projects
        env:
          BASEROW_TOKEN: '${{secrets.BASEROW_TOKEN}}'
        run: npm run generate:projects

      - name: Read Log File
        id: read-log
        run: |
          echo "log_content<<EOF" >> $GITHUB_ENV
          cat libs/data/projectGeneration.log >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          base: main
          branch: chore/update_projects
          commit-message: 'chore: update projects'
          title: 'chore: update projects'
          body: |
            Cette pull request a été crée automatiquement pour mettre à jour les projets.

            ### :warning: Merci de bien vérifier les changements avant de merge. :warning:

            Essayer de limiter le rennomage de slug. Chaque slug rennomé "casse" des liens que peuvent avoir conservés les utilisateurs.

            ### Liste de points problématiques automatiquement détectés:

            :fire: :fire: :fire: :fire: critique
            :fire: :fire:  important
            :fire: mineur
            :warning:  info

            ${{ env.log_content }}

          draft: false

  update-programs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['20.x']

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm clean-install --foreground-scripts
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Generate programs
        env:
          BASEROW_TOKEN: '${{secrets.BASEROW_TOKEN}}'
        run: npm run generate:programs

      - name: Read Log File
        id: read-log
        run: |
          echo "log_content<<EOF" >> $GITHUB_ENV
          cat libs/data/programYaml.log >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          base: main
          branch: chore/update_programs
          commit-message: 'chore: update programs'
          title: 'chore: update programs'
          body: |
            Cette pull request a été crée automatiquement pour mettre à jour les dispositifs.

            ### :warning: Merci de bien vérifier les changements avant de merge. :warning:

            Attention en particulier aux changements de slugs qui vont créer de nouveaux dispositifs au lieu de reéécrire un dispositif existant.

            ### Liste de points problématiques automatiquement détectés:

            :fire: :fire: :fire: :fire: critique
            :fire: :fire:  important
            :fire: mineur
            :warning:  info

            ${{ env.log_content }}
          draft: false
